{% extends 'base.html'%} 
{% block content %}

<div class="row">

    <a href="{{ url_for('get_tasks') }}">All</a> |
    <a href="{{ url_for('get_tasks', category_name="Home") }}">Home</a> |
    <a href="{{ url_for('get_tasks', category_name="Work") }}">Work</a>
    
    <ul class="collapsible" data-collapsible="accordion">
        {% for task in tasks %}
        <li>
            <div class="collapsible-header">
                <div class="col s3">
                    <i class="material-icons">expand_more</i>
                    <!--<a id="get-data-id" class="get-task-id-class waves-effect waves-light btn modal-trigger btn-small blue" href="#modal1" data-taskid={{task._id}}>Done</a>-->
                    <a href="#modal1" class="delete_task_btn waves-effect waves-light btn btn_small modal-trigger" data-taskid={{task._id}}>Done</a>
                    <a href="{{url_for('edit_task', task_id=task._id)}}" class="waves-effect waves-light btn btn_small blue">Edit</a>
                    
                </div>
                    {% if task.is_urgent %}
                        <div class=" task_header col s9 urgent_task">
                    {% else %}
                        <div class=" task_header col s9">
                    {% endif %}
                    <strong>{{task.task_name}}</strong> - {{task.due_date}}
                </div>
            </div>
            <div class="collapsible-body">
                <span>
                {{task.task_description}} 
            </span>
            </div>
        </li>
        {% endfor %}

    </ul>
    
    
    <!-- Modal Structure -->
    <div id="modal1" class="modal center-align">
        <div class="modal-content">
            <h4>Are you sure?</h4>
        </div>
    
        <div class="row modal-footer">
            <form action="{{ url_for('delete_task') }}" method="POST" class="col s6 center-align">
                <input id="hidden-task-id" type="hidden" name="task_id">
                <button class="testing btn waves-effect waves-light margin-left" type="submit" name="action">Yes
                    <i class="material-icons right">thumb_up</i>
                </button>
            </form>
    
            <form action="{{ url_for('get_tasks') }}" method="GET" class="col s6 center-align">
                <button class="btn waves-effect waves-light margin-left" type="submit" name="action">No
                    <i class="material-icons right">thumb_down</i>
                </button>
            </form>
        </div>
    </div>
           
</div>
{% endblock %}